/* CSS for Image Modal (Popup) */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(187, 194, 200, 0.8); */
  z-index: 9999;
  /* position: relative;
  width: 80vw;
  height: 90vh; */
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(79, 76, 82, 0.6);
  z-index: 1; /* Makes sure it sits below the popup content */
}

.popup-content {
  /* position: relative;
  max-width: 90%;
  max-height: 90%;
  background-color: grey;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px; */

  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  z-index: 2;
  background: rgb(123, 117, 130);
  border-radius: 10px;
  border: 5px solid #000; /* 3px thick solid black border */
}

.close-popup-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.scrollable-popup {
  max-height: 80vh; /* Limits the height for scrollable content */
  overflow-y: auto; /* Adds scrolling if content exceeds the max height */
  padding-bottom: 20px; /* Adjusts bottom padding for better spacing */
}

.popup-content img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: crosshair; /* Change cursor to crosshair on image click */
}

.canvas-container {
  position: relative;
  display: inline-block;
}

.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Ensures that clicking on the canvas passes the click to the image below */
}

/* CSS for the coordinates input section */
.coordinates-inputs {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.coordinates-inputs label {
  /* margin: 5px 0; */
  margin: 0; /* Align with grid structure */
}

.coordinates-inputs input {
  /* width: 200px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer; */

  width: 180px; /* Adjusted width for better alignment */
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}
